.field {
  position: relative;
  width: 144px;
  height: 264px;
  border: 2px solid #222222;
  float: left;
}

.block {
	position: absolute;
	width: 16px;
	height: 16px;
	border: 1px solid #000000;
}

.block.small {
  width: 8px;
  height: 8px;
}

.block.empty { border: none; }
.blue { background: #0000FF; }
.yellow { background: #FFFF00; }
.green { background: #00FF00; }
.purple { background: #800080; }
.red { background: #FF0000; }
.sb-a { background: url(img/sb-a.png); }
.sb-b { background: url(img/sb-b.png); }
.sb-c { background: url(img/sb-c.png); }
.sb-g { background: url(img/sb-g.png); }
.sb-n { background: url(img/sb-n.png); }
.sb-o { background: url(img/sb-o.png); }
.sb-q { background: url(img/sb-q.png); }
.sb-r { background: url(img/sb-r.png); }
.sb-s { background: url(img/sb-s.png); }

.piece {
	position: absolute;
	width: 80px;
	height: 80px;
}

#mycontainer {
	position: relative;
	width: 400px;
	height: 440px;
	float: left;
}

#myfield {
	width: 240px;
	height: 440px;
	border: 2px solid #222222;
}

#nextpiece {
	position: absolute;
	left: 280px;
	width: 80px;
	height: 80px;
	border: 2px solid #222222;
}

#specialbar {
  position: relative;
  height: 20px;
  border: 2px solid #222222;
}
