body {
  font-size: 12px;
}

.hid {
  display: none;
}

#partyline {
  border: 1px solid #222;
  clear: both;
  height: 200px;
  overflow: auto;
}

#fields {
  position: relative;
  margin-top: 10px;
  padding-top: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}

#eventLog {
  border: 2px solid #000;
  bottom: 2px;
  height: 175px;
  left: 410px;
  overflow: auto;
  position: absolute;
  width: 500px;
}

.field {
  background-image: url('img/background-small.png');
  border: 1px solid #222;
  float: left;
  height: 243px; /* 22*(10+1)+1 */
  margin-right: 10px;
  position: relative;
  width: 133px; /* 12*(10+1)+1 */
}

.fieldName {
  margin-top: -20px;
}

#myName {
  position: absolute;
  top: -20px;
}

.block {
  border: 1px solid #000;
  height: 16px;
  position: absolute;
  width: 16px;
}

.block.small {
  width: 8px;
  height: 8px;
}

.block.empty { border: none; }
.blue { background: #00F; }
.yellow { background: #FF0; }
.green { background: #0F0; }
.purple { background: #800080; }
.red { background: #F00; }
.sb-a { background: url(img/sb-a.png); }
.sb-b { background: url(img/sb-b.png); }
.sb-c { background: url(img/sb-c.png); }
.sb-g { background: url(img/sb-g.png); }
.sb-n { background: url(img/sb-n.png); }
.sb-o { background: url(img/sb-o.png); }
.sb-q { background: url(img/sb-q.png); }
.sb-r { background: url(img/sb-r.png); }
.sb-s { background: url(img/sb-s.png); }
.small.sb-a { background: url(img/sb-a_s.png); }
.small.sb-b { background: url(img/sb-b_s.png); }
.small.sb-c { background: url(img/sb-c_s.png); }
.small.sb-g { background: url(img/sb-g_s.png); }
.small.sb-n { background: url(img/sb-n_s.png); }
.small.sb-o { background: url(img/sb-o_s.png); }
.small.sb-q { background: url(img/sb-q_s.png); }
.small.sb-r { background: url(img/sb-r_s.png); }
.small.sb-s { background: url(img/sb-s_s.png); }

.piece {
  height: 80px;
  position: absolute;
  width: 80px;
}

#mycontainer {
  float: left;
  height: 480px;
  margin-right: 10px;
  position: relative;
  width: 400px;
}

#myfield {
  background-image: url('img/background.png');
  border: 2px solid #222;
  height: 440px;
  position: relative;
  width: 240px;
}

#nextpiece {
  background: #FFF;
  border: 2px solid #222;
  height: 80px;
  left: 280px;
  position: absolute;
  width: 80px;
}

#specialbar {
  border: 2px solid #222;
  height: 20px;
  margin-top: 10px;
  position: relative;
}
